.todo-input{
    width: 25em;
    height: 2em;
    font-size: 1.5em;
    padding: 5px;
}
.todo-add{
    background-color: lightslategrey;
    margin: 10px;
}
.todo-table{
    width: 45em;
    margin-top: 20px;
    text-align: center;
}
.colorchange-div{
    width: 20em;
    height: 15em;
    border: 2px solid black;
    margin-top: 20px;
}
.colorchange-buttons{
    display: flex;
    margin: 2em;
    justify-content: space-between;
}
