.todo-input{
    width: 25em;
    height: 2em;
    font-size: 1.5em;
    padding: 5px;
}
.todo-add{
    background-color: lightslategrey;
    margin: 10px;
}
.todo-table{
    width: 45em;
    margin-top: 20px;
    text-align: center;
    border: 1px solid red;
}
