.medium-table {
  width: 90%;
  border: 1px solid black;
  margin: 20px;
  border-collapse: collapse;
}
.medium-table th,
.medium-table td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}
.medium-search {
  margin: 20px;
  padding: 10px;
  width: 300px;
  font-size: 16px;
}
.medium-count {
  width: 20vw;
  height: 5vw;
  border: 1px solid black;
  font-weight: bold;
  font-size: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.child-button {
  margin: 10px 75px;
  width: 10vw;
  height: 2vw;
  border-radius: 5px;
  background-color: lightslategray;
  color: white;
  border: none;
  cursor: pointer;
}
.main-nav-li {
  list-style: none;
  text-decoration: none;
}
.main-nav-link {
  list-style: none;
  text-decoration: none;
  color: inherit;
}
.main-nav-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  height: 2vw;
}
.isActive {
  color: red;
}
.accordion-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion-title {
  width: 50vw;
  height: 3vw;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}
.accordion-body {
  width: 50vw;
  height: 7vw;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: lightgray;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
}
.accordion-show {
  max-height: 200px;
}
